Options -MultiViews
RewriteEngine On

RewriteBase /phpMvcProfile/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-REQUEST_FILENAME

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]